/* OPTION ONE */
:root {
  --darkest:  #DDDDDD;
  --dark:     #222831;
  --light:    #30475E;
  --lightest: #F05454;
}

/* OPTION TWO */
/*:root {
  --darkest:  #041C32;
  --dark:     #04293A;
  --light:    #064663;
  --lightest: #ECB365;
}*/

html {
  height: 100%;
}

body {
  background-color: var(--darkest);
  font-family: Monospace;
  overflow: hidden;
  height: 100%;
}

.title {
  color: var(--lightest);
  margin-top: 2.5%;
  margin-bottom: 2%;
  margin-left: 24%;
}

.box {
  height: 75%;
  border: 4px solid var(--lightest);
  border-radius: 30px;
  padding: 1.5%;
  margin-left: 22%;
  margin-right: 2%;
  background-color: var(--dark);
}

.container {
  color: var(--lightest);
  width: 100%;
  height: 100%; 
}

.menu  {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dark);
  overflow: hidden;
  padding-top: 30px;
  border-right: 4px solid var(--lightest);
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--light);
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  color: var(--lightest);
  cursor:pointer;
}

